/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
/* ************ Ajout du design du menu filtre ****** */
.menu-gallery {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.element-gallery {
  border: solid #1d6154 1px;
  border-radius: 25px;
  padding: 12px;
  margin: 0 11px;
  color: #1d6154;
  font-size: 17px;
  text-align: center;
  font-weight: 900;
  white-space: nowrap;
  cursor: pointer;
}
.objet-gallery,
.toute-la-gallery {
  width: 100px;
}

.toute-la-gallery {
  background-color: #1d6154;
  color: white;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/* *********************Le design de la fenetre modal************************* */
.overlay {
  display: flex;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.block-modal {
  background-color: #ffff;
  width: 530px;
  height: 688px;
  margin: auto;
  position: relative;
  margin-top: 25;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
}

.block-modal2 {
  background-color: #ffff;
  width: 530px;
  height: 688px;
  margin: auto;
  position: relative;
  margin-top: 25;
  border-radius: 10px;
  z-index: -1;

  position: absolute;
}

.gallery-modal {
  height: 60%;
  width: 79%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid gray 2px;
  padding-bottom: 45px;
}

.croix-fermeture-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 22px;

  text-align: center;
}
.la-fleche {
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 22px;

  text-align: center;
}
.modal-title {
  color: #000;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 45px 0;
}

/* CRATION DE LIEN DE MODIFICATION ET LOGO MODIFIER */
.sub-title-and-logo-modif {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo-modif img {
  width: 5%;
  height: 5%;
  padding-left: 35px;
  padding-right: 10px;
}
.logo-modif a {
  text-decoration: none;
  color: #000;
  margin-left: 25px;
  font: 1em sans-serif;
}
.link-modal i {
  margin-right: 10px;
}

.figureModal {
  margin: 10px 5px;
  width: 70.61px;
  height: 102.57px;
  position: relative;
}

.img-modal {
  width: 100%;
  object-fit: cover;
}
.figureModal .content-i {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  color: rgba(214, 217, 221, 0.822);
  width: 21px;
  height: 21px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.btn-ajouter-photo {
  text-decoration: none;
  background-color: #1d6154;
  border-radius: 25px;
  color: #ffff;
  width: 237px;
  height: 36px;
  font-size: 1em;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-valider-photo {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.64);
  border-radius: 25px;
  color: #ffff;
  width: 237px;
  height: 36px;
  font-size: 1em;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-login,
.link-logout {
  text-decoration: none;
  color: black;
}
/* .link-login,
.link-logout:hover {
  color: blue;
} */

.black-line {
  width: 100%;
  height: 59px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-line a {
  color: #ffff;
}
.black-line i {
  margin-right: 10px;
}
/* Mise en page de modal2 ajouter photo */
.gallery-modal2 {
  display: flex;
  flex-direction: column;
}
.zone-telechargement {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 169px;
}
.image-icon {
  margin: 0px 0 15px 0;
  font-size: 45px;
  color: rgba(198, 194, 194, 0.635);
}
.file-label {
  width: 179px;
  height: 36px;
  border-radius: 50px;
  background-color: rgba(198, 194, 194, 0.635);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 7px;
}
input[type="file"] {
  display: none;
}
#titre-photo,
#categorie-photo {
  width: 420px;
  height: 51px;
  background-color: white;
  box-shadow: 1px -1px 12px 4px rgb(228, 226, 226);
  border: none;
}
.label-categorie-titre {
  line-height: 35px;
  font-size: 1.2em;
}
.image-icon img {
  height: 50px;
}
